/* body{
    align-items: center;
    text-align: center;
} */

.formulario{
    position: absolute;
    z-index: 5;
    top: 100px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(50vw - 175px);
    background-color: var(--form-background);
    color: var(--white);
    backdrop-filter: blur(4px);
    border-radius: 3px;
    color: var(--font-1);
}

.formulario__div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    color: var(--font-1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario__div > h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.formulario__div > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario__div > span{
    align-self: center;
}

.cadastro button{
    margin-top: 20px;
}

